<div *ngIf="isLoaded">
  <app-google-maps [snappedPoints]="snappedPoints"></app-google-maps>
</div>
<div>
<!--  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->
<!--    &lt;!&ndash; Position Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="position">-->
<!--      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="name">-->
<!--      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="weight">-->
<!--      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="symbol">-->
<!--      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>-->
<!--    </ng-container>-->

<!--    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--  </mat-table>-->
</div>

<div>
<!--  <app-line-chart></app-line-chart>-->
</div>
