<script src="node_modules/chart.js/src/chart.js"></script>
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
        History
    </ion-title>
  </ion-toolbar>
    
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <h1 style="text-align:center;">
    Driving Statistics
  </h1>
  <ion-card>
    <div>
      <div style="padding: 15px;">
        <canvas
      baseChart
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartClick)="onChartClick($event)">
  </canvas>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <div>
      <div style="padding: 15px;">
        <canvas
      baseChart
      [chartType]="'bar'"
      [datasets]="chart2Data"
      [labels]="chart2Labels"
      [options]="chart2Options"
      [legend]="true"
      (chartClick)="onChartClick($event)">
  </canvas>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div>
      <div style="padding: 15px;">
        <canvas
      baseChart
      [chartType]="'line'"
      [datasets]="chart3Data"
      [labels]="chart3Labels"
      [options]="chart3Options"
      [legend]="true"
      (chartClick)="onChartClick($event)">
  </canvas>
      </div>
    </div>
  </ion-card>
 
</ion-content>
