<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Recommendations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-list>
    <ion-list-header>
      Top 3 Ways to Improve Your Premium
    </ion-list-header>
<br>
    <ion-item>
      
      <ion-label>
        <h2>#1 Recommendation</h2>
        <h3>Slow down on Interstate 235</h3>
        <p class="ion-text-wrap">Slowing down on Interstate 235 will allow your overall speeding percentage to drop, therefore lowering your premium.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>#2 Recommendation</h2>
        <h3>Try to avoid hard breaking</h3>
        <p class="ion-text-wrap">Avoiding hard breaking on your daily commute could help lower your premium over time.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>#3 Recommendation</h2>
        <h3>Avoid late night driving</h3>
        <p class="ion-text-wrap">Avoiding late night driving could help lower your premium over time.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
