<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Hackathon 2K20</span>

  <div style="margin-left: auto">
    <button mat-icon-button class="nav-item nav-link-edit" [routerLink]="['app-login']" aria-label="Login">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button class="nav-item nav-link-edit" [routerLink]="['app-home']" aria-label="Home">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</mat-toolbar>
