<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

      <div id="map" style="height:40%; width:100%;"></div>
<br>
      <ion-list>
        <ion-list-header>
          Recent Trips
        </ion-list-header>

        <ion-item>
          
          <ion-label>
            <h2>Monday Evening- 5:42PM - 6:17PM</h2>
            <h3>Nationwide to Home</h3>
            <p>Driver Score: 90% A-</p>
          </ion-label>
        </ion-item>

        <ion-item>
          
          <ion-label>
            <h2>Monday Morning- 8:30AM - 8:57AM</h2>
            <h3>Home to Nationwide</h3>
            <p>Driver Score: 79% C+</p>
          </ion-label>
        </ion-item>

        <ion-item>
          
          <ion-label>
            <h2>Sunday Evening- 7:32PM - 7:40PM</h2>
            <h3>McDonalds to Home</h3>
            <p>Driver Score: 91% A-</p>
          </ion-label>
        </ion-item>
          <ion-item>
        <ion-label>
          <h2>Sunday Evening- 7:10PM - 7:17PM</h2>
          <h3>Home to McDonalds</h3>
          <p>Driver Score: 84% B</p>
        </ion-label>
      </ion-item>
      </ion-list>
    

  
</ion-content>
